services:
  next_app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
        NEXT_PUBLIC_API_READ_KEY: ${NEXT_PUBLIC_API_READ_KEY}
    container_name: next_app_cartridges
    restart: always
    ports:
      - '3002:3000' # наружу -> внутрь
    environment:
      NODE_ENV: production
      PORT: 3000
      DATABASE_URL: ${DATABASE_URL}
      INTERNAL_API_TOKEN: ${INTERNAL_API_TOKEN}
      API_URL_SERVER: http://localhost:3000/api
